/* shared design*/

.inter-fname {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-htfname {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
}
.button-primary{
background-color: #4E47FF;
color: #FFFFFF;
border-radius: 10px;
border: none;
width: 132px;
height: 48px;
font-size: 16px;
}

/*header design*/
header{
    background-image: url('images/Hero-bg.png');
    max-width: 1440px;
    height: 698px;
}
.logo-signup{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
.logo-header{
    color: #4E47FF;
    font-size: 34px;
    width: 99px;
    height: 51px;
}
.header-title{
    text-align:center;
    max-width: 905px;
    max-height: 237px;
    color: #252432;
    margin-left: 260.5px;
    margin-right: 290.5px;
    margin-top: 158px;
    margin-bottom: 152px;
}
.header-text {
    width: 800px;
    height: 152px;
}
.second-button{
    width: 174px;
}


/* action section design*/
.action {
    max-width: 1128px;
    max-height: 320px;
    background-color:rgb(249, 246, 246);
    padding: 8px;
    margin: 0 auto;
    margin-top: 116px;
    margin-left: 141px;
    margin-right: 159px;
}

.action-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
      
    
}

.action-text {
    max-width: 500px;
}

.action-title {
    font-size: 42px;
    color: #252432;
}

.action-description {
    color: #B3B3B3;
    font-size: 24px;
    margin: 10px 0;
}

.action-button {
    width: 229px;
    height: 48px;
    font-size: 16px;
    margin-top: 23px;
}

.action-image {
    width: 403px;
    height: 328px;
    object-fit: cover;
    border-radius: 48px;
}
 /* productive users section design*/


.productive-users{
    max-width: 1050px;
    max-height: 500px;
    margin: 0 auto;
    background-color: lch(93.42% 1.78 19.18);
    text-align: center;
    border-radius: 24px;
    margin-top: 142px;
    
}
.pro-padding{
    padding: 50px 142px;
}
.statistics{
    display: flex;
    justify-content: space-around;
    gap: 158px;
    margin-top: 0px;
    margin-bottom: 50px;
}
.pro-title {
    font-size: 38px;
    color: #8987A1;
}
.st-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.st-para{
    font-size: 20px;
    color: #000000;

}

/* feedback section */
.feedback{
    max-width: 1140px;
    max-height: 342px;
    margin: 0 auto;
    margin-top: 111px;
    text-align: left;
}

.threefedcard{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    max-width: 365px;
    max-height: 243px;
    background-color: #F2EDED;
    border-radius: 14px;
    padding: 24px 24px;
}
.review-footer{
    display: flex;
}
.feedback-title{
    font-size: 42px;
    width: 1140px;
    height: 49px;
    text-align: center
}
.review-footer img {
    border-radius: 9999px;
}
.rev-name{
    color: #757575;
    font-weight: bold;
}
.rev-date{
    color: #B3B3B3;
}
.review-footer{
    margin-top: 24px;
}
.name-date{
    margin-left: 12px;
}

/* get in touch section design*/
.get-in-touch{
    max-width: 1140px;
    max-height: 700px;
    margin: 0 auto;
}

.abba-of-get-in-touch{
    display: flex;
    gap: 115px;
    margin: 200px auto;
    background-color: #e6e6ef;

    
} 
.h-column{
margin: 0 auto;

}
.h-column h1{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    
}
.input-column{
margin: 0 auto;
gap: 15px;
padding-top: 50px;
margin-bottom: 90px;
padding-right: 30px;
}
.get-in-button{
    width: 430px;
    height: 62px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}
.input-column input,
.input-column textarea
 {
     width: 400px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* footer section*/
.footer-logo{
    font-size: 100px;
    color: #4E47FF;
    text-align: center;
    margin-bottom: 0px;
}
.footer-description{
    color: #736DB2;
    
    height: 49px;
    text-align: center;
}
    .footer-nav{
        display: flex;
        gap: 50px;
        justify-content: center;
    }
    .footer-nav a {
        text-decoration: none;
        color: #373556;
    }
    .footer-nav a:hover{
        text-decoration: underline;
        color: #302ecf;
    }

    /* button animation */
.button-primary:hover {
    background-color: #48824f;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 20px rgba(78, 71, 255, 0.3);
}