/* shared design*/

.inter-fname {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-htfname {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
}
.button-primary{
background-color: #4E47FF;
color: #FFFFFF;
border-radius: 10px;
border: none;
width: 132px;
height: 48px;
font-size: 16px;
}

/*header design*/
header{
    background-image: url('images/Hero-bg.png');
    max-width: 1440px;
    height: 698px;
}
.logo-signup{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
.logo-header{
    color: #4E47FF;
    font-size: 34px;
    width: 99px;
    height: 51px;
}
.header-title{
    text-align:center;
    max-width: 905px;
    max-height: 237px;
    color: #252432;
    margin-left: 260.5px;
    margin-right: 290.5px;
    margin-top: 158px;
    margin-bottom: 152px;
}
.header-text {
    width: 800px;
    height: 152px;
}
.second-button{
    width: 174px;
}

main{
  
}
/* action section design*/
.action {
    max-width: 1128px;
    max-height: 320px;
    background-color:#FFFFFF;
    padding: 8px;
    margin: 0 auto;
    margin-top: 116px;
    margin-left: 141px;
    margin-right: 159px;
}

.action-container {
    display: flex; /* নতুন যোগ */
    align-items: center; /* vertically center */
    justify-content: space-between; 
      
    
}

.action-text {
    max-width: 500px; /* যাতে টেক্সট সাইডে থাকে */
}

.action-title {
    font-size: 42px;
    color: #252432;
}

.action-description {
    color: #B3B3B3;
    font-size: 24px;
    margin: 10px 0;
}

.action-button {
    width: 229px;
    height: 48px;
    font-size: 16px;
    margin-top: 23px;
}

.action-image {
    width: 403px;
    height: 328px;
    object-fit: cover;
    border-radius: 48px;
}
